<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Calculator</title>
    <script src="angular.js"></script>
    <script>
        String.prototype.toInt = function(){
            return parseInt(this,10);
        };

        function Calculator(){
            this.number1 = 0;
            this.number2 = 0;
            this.result = 0;
            this.add = function(){
                this.result = this.number1.toInt() + this.number2.toInt();
            };
            this.subtract = function(){
                this.result = this.number1.toInt() - this.number2.toInt();
            };
            this.multiply = function(){
                this.result = this.number1.toInt() * this.number2.toInt();
            };
            this.divide = function(){
                this.result = this.number1.toInt() / this.number2.toInt();
            }
        }
        var myApp = angular.module("myApp",[]);
        myApp.controller("calculatorController", function($scope){
            $scope.calculator = new Calculator();
        });
    </script>
</head>
<body ng-app="myApp">
   <h1>Calculator</h1>
   <hr>
   <div class="content" ng-controller="calculatorController">
        <input type="text" ng-model="calculator.number1">
        <select name="" id="">
            <option value="add">add</option>
            <option value="subtract">subtract</option>
            <option value="multiply">multiply</option>
            <option value="divide">divide</option>
        </select>
        <input type="text" ng-model="calculator.number2">
        <input type="button" value="Calculate">
        <div ng-bind="calculator.result">[Result]</div>
    </div>
</body>
</html>
