<h3>Customers</h3>
<br>
<br>
<div>All the customers will be displayed here</div>
<br>
<br>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae incidunt aliquid tempore eveniet ad, earum? Itaque cupiditate impedit fuga modi deleniti, quidem officia atque accusantium assumenda veniam. Repellat, neque, deleniti.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae voluptatum accusamus, dolore officia a at deleniti vero ea! Vel ullam autem vero eveniet odio quae magni eius natus, molestias quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laudantium ea laboriosam provident, obcaecati consequatur commodi tenetur sint nostrum voluptas id nam itaque odit assumenda fuga, voluptatem ratione! Odit, eveniet.</div>
